[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
pyjwt = "*"
python-decouple = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pymongo = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
