[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
pyjwt = "*"
python-decouple = "*"
fastapi = "*"
passlib = "*"
pydantic = {extras = ["email"], version = "*"}
pymongo = "*"
boto3 = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
