.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    flex: 1;
  }
  
  .search-icon {
    margin-left: -40px; /* Adjust the margin to control the spacing between the input and the search icon */
    background: none;
    border: none;
    transform: translateY(35%);
    outline: none;
    cursor: pointer;
  }