.row{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.filters{
    padding-top: 4rem;   
    grid-column: 1;
    margin-left: 2rem;
}

.restaurantes{

    margin-top: 0;
    grid-column: 2;
    padding-left: 4rem; 
    background-color: #DCE0E8;
    border-radius: 6px 0px 0px 6px;
    position: 'relative';
    padding-right: 2rem;
    

}

.boton-crear-restaurante{

    float: right;
}

.footer{
    grid-column: 1 / span 2;    
    text-align: center;
}

.filters .rating{
    width: 200px;
    margin-top: 4rem;
    align-items: center;
}

.filters .sliders{
    margin-top: 4rem;
    justify-content: space-between;
}

.restaurantes h1{
    color: #9CA0B0;
    padding-bottom: 2rem;
}