.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: #F9E2AF;
    flex-direction: row;
    
}

.logo {
    display: flex;
    align-items: flex-start;
}

.logo-img{
    width: 100px;
    object-fit: cover;  
}

.logo-text {
    font-size: 26px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
}

.searchbar{
    width: 50%;
    margin-right: 4rem;
    position: relative;
    align-items: 'center';
    justify-content: 'center';

}

.searchbar input{
    margin-top: 1rem;
    align-self: center;

}

.botones {
    margin-top: 1em;
    float: right;

}

.row{
    box-sizing: border-box;
}

.column {
    float: left;
}


.filters{
    width:20%;
    height:auto;
}

.restaurantes{
    background-color: #DCE0E8;
    width: 80%;
    height: auto;
    border-radius: 6px;

}

.restaurantes{
    margin-top: 0;
    padding-left: 4rem;
    background-color: #DCE0E8;
    width: 80%;
    height: auto;
    float: right;
    border-radius: 6px;

}

.filters .rating{
    margin-top: 4rem;
}

.filters .sliders{
    margin-top: 4rem;
    justify-content: space-between;
}



row:after {
    content: "";
    display: table;
    clear: both;
}

.restaurantes h1{
    color: #9CA0B0;
}

