.signup-form-container {
  width: 400px;
  margin: 5% auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.signup-form-title {
  margin-bottom: 1rem;
  text-align: center;
  color: #333333;
}

.signup-form-group {
  margin-bottom: 1rem;
}

.signup-form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #333333;
}

.signup-form-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-color: #f8f9fa;
  color: #333333;
}

.signup-form-button[type="submit"] {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #08b28d;
  border: 0;
  border-radius: 0.25rem;
}

.signup-form-button[type="submit"]:hover {
  background-color: #c53c1a;
}

.signup-form-text {
  margin-top: 1rem;
  text-align: center;
  color: #333333;
}

.signup-form-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}